<!DOCTYPE html>
<html>
  <body>
      <div style="background-color:beige">
        <div class="row">
          <div class="column">
          <img src="./assets/book-icon-logo.jpg" alt="Book" height="70px" width="70px"/>
          {{title}}
          </div>
          <nav class="column">
            <ul class="row">
            <li class="column">
              <a routerLink='/signup'>Sign Up</a>
            </li>
            <li class="column">
              <a routerLink='/signin'>Sign In</a>
            </li>
            <li class="column">
              <a routerLink='/readerSignup'>Reader Sign Up</a>
            </li>
            <li class="column">
              <a routerLink='/readerSignin'>Reader Sign In </a>
            </li>
            <li class="column">
              <a routerLink='/'>Home</a>
            </li>
          </ul>
          </nav>
        </div>
      </div>
    </body>
<router-outlet></router-outlet>
</html>

